trigger: none
#  branches:
#     include:
#       - main
#       - feature/*

pool: 
 name: Agent

stages:
  - stage: Buildstage
    displayName: Build stage ban raha hai
    jobs:
      - job: nodeinstalljob
        displayName: nodewa install ho raha hai
        steps:
        - task: NodeTool@0  #node_module folder create hota hai
          displayName: nodewa install ho raha hai
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true
  
        - task: Npm@1
          displayName: npm install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
        
        - task: Npm@1
          displayName: npm build #agent pe build folder banega
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'

  #       - task: PublishBuildArtifacts@1
  #         inputs:
  #           PathtoPublish: 'build'
  #           ArtifactName: 'todo'
  #           publishLocation: 'Container'

  # - stage: Deploy   #Artifact Download kar rahe hai
  #   displayName: Deploy todo
  #   jobs:
  #     - job: Deplotodo
  #       steps:
  #       - task: DownloadBuildArtifacts@1
  #         inputs:
  #           buildType: 'current'
  #           downloadType: 'single'
  #           artifactName: 'todo'
  #           downloadPath: '$(System.ArtifactsDirectory)'
            

  #       - task: CopyFilesOverSSH@0 # Artifact ko copy karke VM mai dal rahe hai through copyssh
  #         inputs:
  #           sshEndpoint: 'VMtodo'
  #           sourceFolder: '$(Build.ArtifactStagingDirectory)'
  #           contents: '**'
  #           targetFolder: '/home/adminuser1/todoapp'
  #           cleanTargetFolder: true
  #           readyTimeout: '20000'
  #       - task: SSH@0
  #         inputs:
  #           sshEndpoint: 'VMtodo'
  #           runOptions: 'commands'
  #           commands:  |
  #             set -e

  #             sudo DEBIAN_FRONTEND=noninteractive apt-get update -y
  #             sudo DEBIAN_FRONTEND=noninteractive apt-get install -y nginx

  #             sudo systemctl restart nginx
  #             sudo systemctl enable nginx

  #             sudo rm -rf /var/www/html/*
  #             sudo cp -r /home/adminuser1/todoapp/todo/* /var/www/html/

              
  #           readyTimeout: '20000'