trigger: none

pool: Default

stages:
  - stage: CI
    displayName: CI Stage
    jobs:
      - job: nodeInstall 
        displayName: Node installation 
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '17.x'

        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: 'npm install'
            
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: 'npm run build'

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'todo'
            publishLocation: 'pipeline'

# CD Part
  - stage: CD
    dependsOn: CI
    displayName: Deployment stage
    jobs:
      - job: artifactDownload
        displayName: Artifact Download
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'todo'
            targetPath: '$(Pipeline.Workspace)'
        
      - job: copyOverSSH
        displayName: Copy over ssh
        dependsOn: artifactDownload
        steps:
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'VMtodo'
            sourceFolder: '$(Pipeline.Workspace)'
            contents: '**'
            targetFolder: '/home/sanjay'
            readyTimeout: '20000'

      - job: sshthroughCopy
        displayName: copy artifact through ssh
        dependsOn: copyOverSSH
        steps:
        - task: SSH@0
          inputs:
            sshEndpoint: 'VMtodo'
            runOptions: 'commands'
            commands: 'sudo cp -r  /home/rajat/* var/www/html'
            readyTimeout: '20000'