trigger: none 
pool: Agent

stages:
  # -  stage: SoftwareCompositionAnalysis
  #    displayName: Software Composition Analysis
  #    jobs:
  #      - job: VulnerabilityScan
  #        displayName: Dependency Vulnerability Scan (Retire.js)
  #        steps:
  #        - task: PowerShell@2
  #          inputs:
  #            targetType: 'inline'
  #            script: |
  #              npm install
  #              npm install -g retire
  #              retire --exitwith 0
  
  -  stage: CodeQualityChecks
     displayName: Code Quality & Linting
     jobs:
       - job: LintingChecks
         displayName: Multi-Language Linting Checks
         steps:
         - task: PowerShell@2
           continueOnError: true
           inputs:
             targetType: 'inline'
             script: |
               Invoke-WebRequest -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.8/biome-win32-x64.exe"
               
               -OutFile "$(Agent.ToolsDirectory)/biome.exe"
               
               $(Agent.ToolsDirectory)/biome.exe lint $(System.DefaultWorkingDirectory)/src/

         - task: PowerShell@2
           continueOnError: true
           displayName: CSS Linting (Stylelint)  
           inputs:
            targetType: 'inline'
            script: |
              npm install -g stylelint
              npm install -g stylelint-config-standard
              npx stylelint "src/**/*.css" 

         - task: PowerShell@2
           continueOnError: true
           displayName: YAML Linting (yamllint)    
           inputs:
            targetType: 'inline'
            script: |
              pip install --user yamllint
              yamllint $(System.DefaultWorkingDirectory)

  - stage: BuildAndPackage
    displayName: Build & Artifact Packaging
    jobs:
      - job: nodejsInstall
        displayName: node js installation
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true
   
        - task: Npm@1
          displayName: npm Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
        
        - task: Npm@1
          displayName: Npm Build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'
    
        