trigger: none

pool: spandy


stages:
  - stage: CI
    displayName: CI Stage
    jobs:
      - job: CI
        displayName: CI ka job
        steps:
        - task: NodeTool@0
          displayName: Node install
          inputs:
            versionSource: 'spec'
            versionSpec: '17.x'

        - task: Bash@3
          displayName: npm install
          inputs:
            targetType: 'inline'
            script: 'npm install'
            
        - task: Bash@3
          displayName: npm run build
          inputs:
            targetType: 'inline'
            script: 'npm run build'

        - task: PublishPipelineArtifact@1
          displayName: Artifact Publish
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'todo'
            publishLocation: 'pipeline'

# CD Part
  - stage: CD
    dependsOn: CI
    displayName: Deployment stage
    jobs:
      - job: artifactDownload
        displayName: Artifact Download
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'todo'
            targetPath: '$(Pipeline.Workspace)'
        
      - job: copyOverSSH
        displayName: Copy over ssh
        dependsOn: artifactDownload
        steps:
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'VMtodo'
            sourceFolder: '$(Pipeline.Workspace)'
            contents: '**'
            targetFolder: '/home/adminuser'
            readyTimeout: '20000'

        - task: SSH@0
          displayName: copy artifact through ssh
          inputs:
            sshEndpoint: 'VMtodo'
            runOptions: 'commands'
            commands: |
              sudo export DEBIAN_FRONTEND=noninteractive
              
              sudo apt-get update -y
              sudo apt-get upgrade -y
              sudo apt-get install -y rsync openssh-client
              
              sudo apt-get install nginx -y
              sudo cp -r /home/adminuser/* /var/www/html
            readyTimeout: '20000'