trigger: none
#  branches:
#     include:
#       - main
#       - feature/*

pool: 
 name: Agent

stages:
  - stage: Buildstage
    displayName: Build stage ban raha hai
    jobs:
      - job: nodeinstalljob
        displayName: nodewa install ho raha hai
        steps:
        - task: NodeTool@0
          displayName: nodewa install ho raha hai
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true
  
        - task: Npm@1
          displayName: npm install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
        
        - task: Npm@1
          displayName: npm build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'
        
        # - task: Npm@1
        #   displayName: publish ho raha hai
        #   inputs:
        #     command: 'publish'
        #     workingDir: '$(System.DefaultWorkingDirectory)'
        #     publishRegistry: 'useFeed'
        #     publishFeed: '0d9e4808-05a5-4a05-9d83-0fd0fdd8ae32'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'todo'
            publishLocation: 'FilePath'
            TargetPath: '$(Build.ArtifactStagingDirectory)/build'