trigger: none 
pool: Agent

stages:
  -  stage: SoftwareCompositionAnalysis
     displayName: Software Composition Analysis
     jobs:
       - job: VulnerabilityScan
         displayName: Dependency Vulnerability Scan (Retire.js)
         steps:
         - task: PowerShell@2
           inputs:
             targetType: 'inline'
             script: |
               npm install
               npm install -g retire
               retire --exitwith 0
         